.App {
  text-align: center;
  background-color: aliceblue;
  margin-left: 20px;
  padding-bottom: 20px;
  width: 800px;
}

.App-link {
  color: #0366d6;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

h3{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}